body{font-family:Arial,sans-serif;margin:0;padding:0;display:flex;flex-direction:column;align-items:center;justify-content:center;height:100vh;background-color:#f5f5f5}h1,h2{color:#333;text-align:center}.container{max-width:600px;width:100%;padding:20px;background-color:#fff;border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,0.1)}.recurso{margin-bottom:10px;padding:10px;border:1px solid #ccc;background-color:#f9f9f9;display:flex;justify-content:space-between;align-items:center}button{padding:5px 10px;border:none;cursor:pointer;background-color:#007bff;color:#fff}button:hover{background-color:#0056b3}input[type="text"]{padding:8px;border:1px solid #ccc;width:70%}.btn-add{width:fit-content;margin-left:2%;background-color:#28a745}.btn-add:hover{background-color:#218838}
/* Center the alerts */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
